@font-face {
    font-family: 'gotic';
    src: url("../../fonts/Seagram-tfb.ttf");
}

*, *:before, *:after {
	margin: 0;
	padding: 0;

	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	box-sizing: border-box !important;
}
body {
    background-color: black;
}

.play-now {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#c{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
}

.play-now>h1 {
    font-family: 'gotic';
    font-size: 5em;
    /* text-shadow: 0px 0px 8px orange; */
    color: brown;
    user-select: none;
    user-select: none;
    background: -webkit-linear-gradient(#fc0404, rgb(248, 224, 8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}
@keyframes heartbeat {
    0%, 100%{
      transform: scale( 1 );    
    }
    50% {
      transform: scale( 1.05 );
    } 
  }

.play-now>div {
    font-size: 2em;
    background-color: #111111;
    padding: .3em .8em;
    border-radius: 1em;
    /* border: 3px solid black; */
    color: white;
    font-weight: bolder;
    text-shadow: 0px 0px 8px rgb(71, 79, 85);
    box-shadow: 0px 0px 8px red;
    font-family: 'gotic';
    font-family: sans-serif;
    color: rgb(214, 202, 96);
    cursor: pointer;
    user-select: none;
}
.beating1{
    animation: heartbeat 1s  infinite;
}

.play-now>div:hover {
    box-shadow: 0px 0px 8px yellow;   
}

.hide {
    display: none !important;
}

.fadeOut {
    animation-name: fadeOut;
    animation-duration: 4s;
}

.fadeOut2 {
    animation-name: fadeOut;
    animation-duration: 2s;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/*Scene 1*/
.scene1-menu{
    position: fixed;
    top: 15vh;
    width: 90vw;
    height: 40vh;
    left: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    z-index: 1;
    
    .scene1-start, .scene1-tutorial{
        padding: 1vw;
        background-color: #f90000;
        color: #ffffff;
        width: 12vw;
        text-align: center;
        font-family: 'gotic';
        z-index: 1;
        font-size: 1.5em;
        border-radius: 10px;
        box-shadow: 0px 0px 8px #ff0000;
        text-shadow: 0px 0px 4px white;
        cursor: pointer;
        user-select: none;
    }
    .scene1-start:hover, .scene1-tutorial:hover{
        box-shadow: 0px 0px 8px #ffffff;
        text-shadow: 0px 0px 4px #ff0000;
        background-color: #ffffff;
        color: #f90000;
    }
}
.scene1-background{
    // background-color: #111111;
    position: fixed;
    top: 15vh;
    width: 90vw;
    height: 40vh;
    left: 5vw;
    border-radius: 15px;
    opacity: .5;
    // border: 2px solid white;
    // box-shadow: 0px 0px 8px white;
}
.fadeIn {
    animation-name: fadeIn;
    animation-duration: 3s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}